@use './variables.scss' as *;
@use './mixins.scss' as *;

// Global Menus
.nav {
  background: $light-grey;
  &__items {
    @include clear-list;
  }
  &__item {
    display: inline-block;
    padding: 3px 10px;
  }
}

.submenu {
  $self: &;
  position: relative;
  &--active {
    @extend .submenu;
    background: $blue;
    .submenu__button {
      color: $white;
    }
    #{$self}__items {
      display: block;
    }
  }
  &__items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
  }
  &__item {
    width: 300px;
    background: lighten($light-grey, 10%);
    &:hover {
      background: lighten($blue, 30%);
    }
  }
  &__link {
    width: 100%;
    text-align: left;
  }
}

.item {
  &--border-bottom {
    border-bottom: 1px solid lighten($grey, 10%);
  }
}

// Custom Menu (Right-click Menu)
.nav-custom {
  $self: &;
  display: none;
  position: absolute;
  &--active {
    display: block;
  }
  &__items {
    @extend .nav__items;
  }
  &__item {
    @extend .submenu__item;
    @extend .nav__item;
  }
  &__link {
    @extend .submenu__link;
  }
  .item-type {
    &__folder {
      display: none;
    }
  }
  &.target-folder {
    .item-type__folder {
      display: block;
    }
  }
}

// Finder Nav
.finder {
  &__nav {
    height: 100%;
    button {
      font-size: 12px;
    }
    &--left {
      @extend .finder__nav;
      background: lighten($light-grey, 12%);
    }
  }
}
